# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - release
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
script:
 - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
 - julia -e 'Pkg.clone(pwd()); Pkg.build("StandardizedMatrices"); Pkg.test("StandardizedMatrices"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("StandardizedMatrices")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
